// grayscales
$GRAY0: white;
$GRAY1: #EAECEF;
$GRAY2: rgb(255, 250, 233);
$GRAY3: #ccc;
$GRAY4: #777;
$GRAY5: #333;
// ranking view
$QUERY_ATTRIBUTE_DISTRIBUTION_HEIGHT: 170px;
$QUERY_ATTRIBUTE_MIN_WIDTH: 700px;
$FILTER_FORCED_WIDTH: 170px;
$CONSTRAINT_FORCED_HEIGHT: 70px;
$ATTRIBUTE_CONSTRAINT_WIDTH: 5px;